@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
.navbar {
  height: 88px;
  padding: 10px 0;
}

li.nb-item {
  margin: 0 10px !important;
  display: inline-block;
}
li.nb-item .nav-link {
  color: #252328;
  font-size: 18px;
  font-weight: 300;
}
li.nb-item .nav-link.active {
  font-weight: 600;
}
li.nb-item .nav-link:hover {
  font-weight: 600;
}

li.ft-item {
  margin: 0 5px !important;
  display: inline-block;
}
li.ft-item .nav-link {
  text-decoration: none;
  color: #FBF8FF !important;
  font-size: 14px;
  font-weight: 300;
}
li.ft-item .nav-link.active {
  font-weight: 600;
}
li.ft-item .nav-link:hover {
  font-weight: 600;
}

.navbar-brand {
  font-size: 26px;
  font-weight: 700;
}

.btn {
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
}

.btn-small {
  font-size: 12px;
}

.btn-medium {
  padding: 12px 20px !important;
  font-size: 16px;
}

.btn-large {
  padding: 14px 20px !important;
  font-size: 18px;
}

.btn-primary {
  background-color: #531D9A;
  border: 1px solid #531D9A;
  color: #FBF8FF !important;
}
.btn-primary:hover {
  border: 1px solid #531D9A;
  background-color: #FBF8FF;
  color: #531D9A !important;
}

.btn-warning {
  background-color: #F8BA00;
  border: 1px solid #F8BA00;
  color: #252328 !important;
}
.btn-warning:hover {
  border: 1px solid #F8BA00;
  background-color: #FBF8FF;
  color: #F8BA00 !important;
}

.form-label {
  font-size: 14px;
}

input.form-control {
  height: 55px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #252328;
}
input.form-control:hover, input.form-control:focus {
  background-color: transparent !important;
  border-color: rgb(83, 29, 154);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(83, 29, 154, 0.25);
}

textarea.form-control {
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #252328;
}
textarea.form-control:hover, textarea.form-control:focus {
  background-color: transparent !important;
  border-color: rgb(83, 29, 154);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(83, 29, 154, 0.25);
}

.text-primary {
  color: #531D9A;
}

.text-secondary {
  color: #ADA2B2;
}

.text-warning {
  color: #F8BA00;
}

.text-success {
  color: #22A32F;
}

.text-danger {
  color: #E36060;
}

.text-info {
  color: #20A8BD;
}

.text-dark {
  color: #252328;
}

.text-h1 {
  font-size: 36px;
}

.text-h2 {
  font-size: 26px;
}

.text-h3 {
  font-size: 22px;
}

.text-normal {
  font-size: 16px;
}

#hero-section {
  position: relative;
}

.hero-social-media-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.hero-social-media-container .hero-social-media {
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-social-media-container .hero-social-media .social-media-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 5px;
  margin: 20px 0;
}
.hero-social-media-container .hero-social-media .social-media-grid .social-media-item {
  text-align: center;
  font-size: 26px;
  text-decoration: none;
  color: #252328;
  transition: all 0.3s ease;
}
.hero-social-media-container .hero-social-media .social-media-grid .social-media-item:hover {
  color: #531D9A;
  transform: scale(1.5);
}
.hero-social-media-container .hero-social-media .social-media-outline {
  width: 1px;
  height: 150px;
  background-color: #252328;
}

.hero-name {
  font-size: 36px !important;
  font-weight: 700;
  margin-top: 25px;
}

.hero-image {
  height: 600px;
}

@media only screen and (max-width: 768px) {
  .hero-image {
    height: 220px;
  }
  .hero-name {
    font-size: 26px !important;
    text-align: center;
  }
}
.work-experience-container {
  background-color: #FBF8FF;
  border-radius: 20px;
  margin: 0 80px;
  padding: 20px 40px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15), 3px 1px 10px rgba(0, 0, 0, 0.15);
}

.company-logo {
  height: 80px;
}

@media only screen and (max-width: 768px) {
  .work-experience-container {
    margin: 0 20px;
    padding: 10px 20px;
    overflow: auto;
  }
  .company-logo {
    height: 60px;
  }
}
.portfolio-card {
  width: 325px;
  height: 400px;
  border-radius: 30px;
  padding: 20px;
  background-color: #FBF8FF;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
}
.portfolio-card .card-image {
  height: 280px;
  margin-bottom: 30px;
  background-color: #ADA2B2;
  border-radius: 20px;
}

.splide__arrow {
  width: 55px;
  height: 55px;
}

.splide__slide.portfolio-item {
  width: 325px !important;
  margin: 0 20px;
}

.footer {
  background: #252328;
  padding: 20px;
}

.nav-footer {
  padding: 10px;
}

* {
  font-family: "Inter", sans-serif;
}

body {
  background: #FBF8FF;
}

.section-margin {
  margin-top: 50px;
}

.service-image {
  height: 540px;
}

.text-service {
  margin-top: 30px;
}

.container-contact {
  padding: 0 250px;
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .service-image {
    height: 300px;
  }
  .container-contact {
    padding: 0 20px;
  }
}/*# sourceMappingURL=main.css.map */