@import '_variables';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@import 'components/_navbar';

@import 'components/_button';

@import 'components/_input';

@import 'components/_text';

@import 'components/_hero';

@import 'components/_work-experience';

@import 'components/_card';

@import 'components/_footer';

* {
    font-family: 'Inter', sans-serif;
}

body {
    background: $c-light;
}

.section-margin {
    margin-top: 50px;
}

.service-image {
    height: 540px;
}

.text-service {
    margin-top: 30px;
}

.container-contact {
    padding: 0 250px;
}

@media only screen and (max-width: 768px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .service-image {
        height: 300px;
    }

    .container-contact {
        padding: 0 20px;
    }
}