@import '../_variables';

.navbar {
    height: 88px;
    padding: 10px 0;
}

.navbar-light {
    backdrop-filter: blur(10px) saturate(150%);
    background-color: hsla(266, 100%, 99%, .5) !important;
}


li.nb-item {
    margin: 0 10px !important;
    display: inline-block;

    .nav-link {
        color: $c-dark;
        font-size: $fs-sub-title;
        font-weight: $fw-light;

        &.active {
            font-weight: $fw-semi-bold;
        }

        &:hover {
            font-weight: $fw-semi-bold;
        }
    }
}

li.ft-item {
    margin: 0 5px !important;
    display: inline-block;

    .nav-link {
        text-decoration: none;
        color: $c-light !important;
        font-size: $fs-body;
        font-weight: $fw-light;

        &.active {
            font-weight: $fw-semi-bold;
        }

        &:hover {
            font-weight: $fw-semi-bold;
        }
    }
}

.navbar-brand {
    font-size: $fs-h2;
    font-weight: $fw-bold;
}

@media only screen and (max-width: 768px) {

    .navbar-light,
    .navbar-collapse {
        backdrop-filter: blur(10px) saturate(150%);
        background-color: $c-light !important;
    }
}