@import '../_variables';

.text-primary{
    color: $c-primary;
}

.text-secondary{
    color: $c-secondary;
}

.text-warning{
    color: $c-warning;
}

.text-success{
    color: $c-success;
}

.text-danger{
    color: $c-danger;
}

.text-info{
    color: $c-info;
}

.text-dark{
    color: $c-dark;
}